


.scroll__hidden {
    display: none !important;
}

.scroll__header {
    display: none;

    @media screen and (max-width: $mobile){
        display: block;
    }

}

.scroll__mobile__hidden {

    @media screen and (max-width: $mobile){
        display: none;
    }

}

.Scroll {
    display: none;
}

.Scroll__view {
    position: fixed;
    display: block;
    z-index: 100;
    background-color: #403C3B;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

}






















